################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chapter05StringMethodsPROJ/v16/Server/sqlite3
